services:
  - type: web
    name: webvibes-backend
    runtime: docker
    region: singapore
    plan: free
    rootDir: backend
    dockerfilePath: ./Dockerfile
    envVars:
      - key: SPRING_PROFILES_ACTIVE
        value: prod
      - key: SERVER_PORT
        value: 10000
      - key: JAVA_OPTS
        value: -Xmx512m -Xms256m
