<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="'dialog'"
      [mode]="'over'"
      [opened]="false">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/" (click)="drawer.close()">
        <mat-icon matListItemIcon>home</mat-icon>
        <span matListItemTitle>Home</span>
      </a>
      <a mat-list-item routerLink="/internships" (click)="drawer.close()">
        <mat-icon matListItemIcon>work</mat-icon>
        <span matListItemTitle>Internships</span>
      </a>
      <a mat-list-item routerLink="/courses" (click)="drawer.close()">
        <mat-icon matListItemIcon>school</mat-icon>
        <span matListItemTitle>Courses</span>
      </a>
      <a mat-list-item routerLink="/apply" (click)="drawer.close()">
        <mat-icon matListItemIcon>send</mat-icon>
        <span matListItemTitle>Apply</span>
      </a>
      <a mat-list-item routerLink="/about" (click)="drawer.close()">
        <mat-icon matListItemIcon>info</mat-icon>
        <span matListItemTitle>About</span>
      </a>
      <a mat-list-item routerLink="/contact" (click)="drawer.close()">
        <mat-icon matListItemIcon>contact_mail</mat-icon>
        <span matListItemTitle>Contact</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary" class="toolbar">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        class="menu-button">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="brand-name">WebVibes Technology</span>
      <span class="spacer"></span>
      <nav class="desktop-nav">
        <a mat-button routerLink="/internships">Internships</a>
        <a mat-button routerLink="/courses">Courses</a>
        <a mat-button routerLink="/apply">Apply</a>
        <a mat-button routerLink="/about">About</a>
        <a mat-button routerLink="/contact">Contact</a>
      </nav>
    </mat-toolbar>

    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
